<!-- Store this code in 'login.html' file inside the 'templates' folder

<html> 

<head>
  <meta charset="UTF-8">
  <title> Login </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body></br></br></br></br></br>
  <div align="center">
    <div align="center" class="border">
      <div class="header">
        <h1 class="word">Login</h1>
      </div></br></br></br>
      <h2 class="word">
        <form action="{{ url_for('login') }}" method="post">
          <div class="msg">{{ msg }}</div>
          <input id="username" name="username" type="text" placeholder="Enter Your Username"
            class="textbox" /></br></br>
          <input id="password" name="password" type="password" placeholder="Enter Your Password"
            class="textbox" /></br></br></br>
          <input type="submit" class="btn" value="Sign In"></br></br>
        </form>
      </h2>
      <p class="bottom">Don't have an account? <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>
    </div>
  </div>
</body>

</html> -->

<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <section class="bg-gray-900 h-screen flex items-center">
    <div class="container md:px-20 px-10 md:py-24 py-12 mx-auto lg:py-32">
      <div class="lg:flex">
        <div class="lg:w-1/2">
          <h1 class="text-gray-300 md:text-xl">Selamat Datang</h1>
          <h1 class="mt-4 text-3xl font-medium capitalize md:text-4xl lg:text-6xl text-white">
            Silahkan Login
          </h1>
        </div>

        <div class="mt-8 lg:w-1/2 lg:mt-0">
          <form class="w-full lg:max-w-xl" action="{{ url_for('login') }}" method="post">
            <div class="relative flex items-center">
              <span class="absolute">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-500" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
              </span>

              <input id="username" name="username" type="text"
                class="block w-full py-3 border rounded-md px-11 bg-gray-900 text-gray-300 border-gray-600"
                placeholder="Masukan username">
            </div>

            <div class="relative flex items-center mt-4">
              <span class="absolute">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mx-3 text-gray-500" fill="none"
                  viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                </svg>
              </span>

              <input id="password" name="password" type="password"
                class="block w-full px-10 py-3 border rounded-md bg-gray-900 text-gray-300 border-gray-600"
                placeholder="Password">
            </div>

            <div class="mt-8 md:flex md:items-center">
              <input type="submit"
                class="w-full text-center px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-700 rounded-md md:w-1/2 hover:bg-blue-800"
                value="Login">

              <a href="{{url_for('register')}}" class="inline-block mt-4 mx-6 text-center text-sm md:mt-0 md:mx-6 hover:underline text-blue-400">
                belum memiliki akun ? <span><b>register disini</b></span>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>