<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section class="bg-gray-900 h-screen flex items-center">
        <div class="container md:px-20 px-10 mx-auto">
            <div class="lg:flex lg:items-center">
                <div class="lg:w-1/2">
                    <h1 class="text-gray-300 md:text-xl">Selamat Datang</h1>
                    <h1 class="mt-4 text-3xl font-medium capitalize md:text-4xl lg:text-6xl text-white">
                        Registrasi Akun
                    </h1>
                </div>
                <div class="mt-8 lg:w-1/2 lg:mt-0 flex items-center">
                    <form action="{{ url_for("register") }}" method="post" class="w-full lg:max-w-xl">
                        <label class="block mb-2 text-sm text-gray-200">{{msg}}</label>
                        <div class="my-2">
                            <label class="block mb-2 text-sm text-gray-200">Nama</label>
                            <input type="text" name="nama_user" placeholder="Masukan Nama" class="block w-full px-5 py-3 mt-2 border rounded-md placeholder-gray-600 bg-gray-900 text-gray-300 border-gray-700" />
                        </div>
                        <div class="my-2">
                          <label class="block mb-2 text-sm text-gray-200">Username</label>
                          <input type="text" name="username" placeholder="Masukan Nama" class="block w-full px-5 py-3 mt-2 border rounded-md placeholder-gray-600 bg-gray-900 text-gray-300 border-gray-700" />
                        </div>
                        <div class="my-2">
                          <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Password</label>
                          <input type="password" name="password" placeholder="Masukan Password" class="block w-full px-5 py-3 mt-2 border rounded-md placeholder-gray-600 bg-gray-900 text-gray-300 border-gray-700" />
                        </div>

                        <div class="my-2">
                          <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">role</label>
                          <input type="text" name="role" placeholder="Masukan role" class="block w-full px-5 py-3 mt-2 border rounded-md placeholder-gray-600 bg-gray-900 text-gray-300 border-gray-700" />
                        </div>
                        
                        <div class="mt-8 md:flex md:items-center">
                            <input type="submit" value="Register" class="w-full text-center px-6 py-3 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-gray-700 rounded-md md:w-1/2 hover:bg-blue-800"/>
                            <a href="./login.html" class="inline-block mt-4 mx-6 text-center text-sm md:mt-0 md:mx-6 hover:underline text-blue-400">
                                sudah memiliki akun ? <span><b>login disini</b></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>